.button {
  display: inline-block;
  padding: 13px 20px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 3px #666;
  transform: translateY(2px);
}

.button:focus, input:focus, input[type]:focus {
    border-color: #44AEEB;
    box-shadow: 0 1px 1px #44EBE8 inset, 0 0 5px #44BAB8;
    outline: 0 none;
}
