<!DOCTYPE html>
<html>
<head>
	<title>
		Agradecimientos
		{% load static %}
	</title>
		<link rel="stylesheet" href="{% static 'base_aspirantes/css/agradecimiento.css' %}" type="text/css" media="all" />

</head>
<body >
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<h1 align="center"> ¡¡Examen Finalizado!! </h1>
    <br>
    <br>
    <br>
    <p  align="center" >Felicidades Juan Cazares has  finalizado tu examen,te invitamos a estar al pendiente de tu correo electrónico del 21 al 29 de Marzo para continuar con tu proceso de admisión.</p>
    <button type="button" aling="center" >Salir</button>
</body>
</html>