<!DOCTYPE html>
<html>
<head tyle="background-color: #E1EEE9;">
		<title>Alta de Estudiantes</title>

	<script src = "validacion9.js" ></script>
	{%load static%}
	{%include 'encabezado2.html'%}
	{%include 'lateral.html'%}
<link rel="stylesheet" href="{% static 'base_aspirantes/css/boton.css'%}" type="text/css" media="all" />
<link rel="stylesheet" href="{% static 'base_aspirantes/css/AltaEstudiante.css'%}" type="text/css" media="all" />

</head>
<body style="background-color: #FFFFD1; font-family: Roboto;">
<br>
		<center><h2><b><i> ALTA DE ESTUDIANTES </i></b></h2></center>

<br>
	<div align="center">
		<div class="ajustarT" align="center" style="background-color: #C6B396; width: 1205px">
			<form action="action_page.php" method="post" style="border-image: initial; border: 3px solid #DC971A">
				<div lass="imgcontainer" align="center">
		<form method="get" enctype="text/plain" autocomplete="false">
		<br>
		<legend align="center"><h2><b><i> Datos Personales </i></b></h2> </legend>
		<fieldset id="fieldset1" style="background-color: #E3C8A1; width: 1160px; height: 750px; border-image: initial; border: 0px solid white">

		<legend style=" width: 300px; height: 1px;" align="left">
			&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
			<input type="image" name="foto" src="{%static 'base_aspirantes/images/encabezado/imagen.png'%}" alt="foto" align="center">
			<br>
			<br
			<input type="file" name="archivo" align="center">
		</legend>
		<br>

			<legend align="left">
			<label >
			<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
				Matricula:
				&emsp;&emsp;&emsp;&emsp;&emsp;
				Nombre:
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
				Apellido Paterno:
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
				Apellido Materno:
			</label>
			<label >
				<br>
				<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
				<input type="number" name="matricula" id="matricula" required="true" pattern="[0-9] {6}" autofocus="true" maxlength="6" style="width:70px;height:15px" placeholder="Matricula"> *
				&emsp;&emsp;&emsp;
				<input type="t" name="nombre" id="nombre" required="true" placeholder="Escribe el Nombre" maxlength="30"> *
				&emsp;&emsp;&emsp;
				<input type="text" name="ap" id="ap" required="true" placeholder="Escribe el primer Apellido" maxlength="20"> *
				&emsp;&emsp;&emsp;
				<input type="text" name="am" id="am" required="true" placeholder="Escribe el segundo Apellido" maxlength="20">*
				
			</label>
			<br>
			<br>
			<br>
			<label>
				<br>
				<br>
				&emsp;&emsp;&emsp;
				Edad:
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
				Genero:
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
				Teléfono:
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
				Dirección:
			</label>
			<label >
				<br>
				<br>
				&emsp;&emsp;&emsp;
				
				<input type="number" name="edad" id="edad" required="true" placeholder="Edad" maxlength="2" style="width:70px;height:15px" > *
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
				<input type="radio" name="hm" required="true" id="h" placeholder="Escribe el genero" value="h"> Hombre *
				&emsp;
				<input type="radio" name="hm" required="true" id="m" placeholder="Escribe el genero" value="m"> Mujer *
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
				<input type="tel" name="telefono" required="true" id="telefono" placeholder="Escribe el Teléfono"> *
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
				<input type="text" name="direccion" required="true" id="direccion" placeholder="Escribe la Dirección"> *
			</label>
			<br>
			<br>
			<br>
			<label>
				<br>
				<br>
				&emsp;&emsp;&emsp;
				Código Postal:
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
				CURP:
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
				Fecha Nacimiento:
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
				Lugar Nacimiento:
			</label>

			<label>
				<br>
				<br>
				&emsp;&emsp;&emsp;
				<input type="number" name="codigo" required="true" id="codigo" placeholder="C.P." style="width:70px;height:15px"> *
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
				<input type="text" name="curp" required="true" id="curp" placeholder="Escribe el CURP"> *
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
				<input type="date" name="fecha" required="true" id="fecha" style="width:180px;height:15px"> *
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
				<input type="text" name="lugar"  required="true" id="lugar" placeholder="Escribe el Lugar de Nacimiento" style="width:190px;height:15px"> *
			</label>
			<br>
			<br>
			<br>
			<label>
				<br>
				<br>
				&emsp;&emsp;&emsp;
				Correo Electrónico:
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
				Grupo Sanguíneo:
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
				Padre o Tutor:
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
				Teléfono del Tutor:
			</label>

			<label>
				<br>
				<br>
				&emsp;&emsp;&emsp;
				<input type="email" name="correo"required="true" id="correo" placeholder="Escribe el Correo Electrónico" style="width:180px;height:15px"> *
				&emsp;
				<input type="text" name="grupos" required="true" id="rgrupos" placeholder="Escribe el Grupo Sanguíneo"> *
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
				<input type="text" name="tutor" required="true" id="tutor" placeholder="Escribe el Nombre"> *
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
				<input type="tel" name="telefonotutor" required="true" id="telefonotutor" placeholder="Escribe el Teléfono ">
			*</label>
			<br>
			<br>
			<br>
			<br>
			<hr>
			</legend>
			<br>
			<legend align="center"><h2><b><i> Datos Procedencia </i></b></h2> </legend>
				<legend align="center">
			<label>
				<br>
				<br>
				Nivel Básico:

				<input type="text" name="nivel" required="true" id="nivel" placeholder="Escribe el Nivel Básico"> *&emsp;&emsp;&emsp;
				
				Año Egreso:

				<input type="number" name="añoe" required="true" id="codigo" placeholder="Escribe el Año de Egreso" > *&emsp;&emsp;&emsp;
				
				Promedio:

				<input type="number" name="añoe" required="true" id="codigo" placeholder="Escribe el Promedio" step="any">
			*</label>

			
	</legend>
		</fieldset>
		</div>
		<br>
<label>
	<br>
	<input class="button " type="submit" name="Guardar" value="Dar de Alta Estudiante" style="background-color: #B5771E; color: white; border:1px  ">
	&emsp;&emsp;
	<input class="button cajast" type="submit" name="Guardar" value="Ver Lista de Estudiantes" style="background-color: #B5771E; color: white; border:1px ">
	&emsp;&emsp;
	<input class="button cajast" type="reset" name="limpiar" value="Limpiar campos" style="background-color: #B5771E; color: white; border:1px;" onclick="Campos limpios" >
	</label>
	<br>
	<br>
	</form>

   			</form>
   		</div>
	</div>

</body>
<br>
<br>
<br>
<footer>
	{%include 'footer.html'%}
</footer>
</html>





