<!DOCTYPE html>
<html>
<head style="background-color: #E1EEE9;">
	<meta charset="UTF-8">
	<title>Alta de Estudiantes</title>
	
	{%include 'encabezado
	.html'%}
	{%load static%}
	{%include 'lateral.html'%}
	{% load bootstrap4%}
	{% bootstrap_css %}
	<link rel="stylesheet" href="{% static 'base_aspirantes/css/boton.css'%}" type="text/css" media="all" />
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" type="text/css" />
</head>

<body style="background-color: #FFFFD1; font-family: Roboto;">
	<br>
	<div class="container" >
		<div align="center">
			<div class="signup-form-container" style="background-color: #FFFFD1; width: 1205px; height: 240px">
				{% block content %} 
					<form method="POST"> {% csrf_token %}
						<fieldset id="fieldset1" style="background-color: #FFFFD1; width: 1160px; height: 140px; border-image: initial; border: 0px solid white" >
							<legend align="center"><h2><b><i> Alta Administrador </i></b></h2> </legend>
							{{form}}
							</fieldset>
							<br>
							<br>
							<label >
								<br>
								<input class="button " type="submit" name="guardar" value="Guardar Administrador" style="background-color: #03a45e; color: white; border:1px  " >
								&emsp;&emsp;
								<input class="button " type="reset" name="limpiar" value="Limpiar campos" style="background-color: #03a45e; color: white; border:1px;" onclick="Campos limpios" >
							</label>
							<br>
							<br>
					</form>
					{% endblock %}
			</div>
		</div>
	</div>

</body>
<br>
<br>
<footer>
	{%include 'footer.html'%}
</footer>
</html>
