<!DOCTYPE html>
<html>
<head tyle="background-color: #E1EEE9;">
		<title>Datos Personales de Estudiantes</title>
	<link rel="stylesheet" type="text/css" href="Estilodeproductos.css">
	<script src = "validacion9.js" ></script>
	{%load static%}
	{%include 'encabezado2.html'%}
</head>
<body style="background-color: #FFFFD1;">
	

<br>
<br>
	<div align="center">
		<div class="ajustarT" align="center" style="background-color: white; width: 600px">
			<form action="action_page.php" method="post" style="border-image: initial; border: 3px solid #DC971A">
				<div lass="imgcontainer" align="center">
		<form method="get" enctype="text/plain" autocomplete="false">
			<br>
			<input type="image" name="foto" src="{%static 'base_aspirantes/images/encabezado/imagen.png'%}" alt="foto" align="center">
			<br>
			<input type="file" name="archivo" align="center">
			<br>
			<br>

		<center><h1+><b><i> Datos de Procedencia de Estudiantes</i></b></h1></center>
		<br>
		<br>
				<label >
				Matricula:

			<input type="number" name="matricula" id="matricula"
			required="true" pattern="[0-9] {6}" autofocus="true" maxlength="6">
		*</label>
		<br>
		<label>
			<br>
			Nivel Básico:

			<input type="text" name="nivel" required="true"
			id="nivel" placeholder="Escribe el Nivel Básico">
		*</label>
				<br>
		<label>
			<br>
			Año Egreso:

			<input type="number" name="añoe" required="true"
			id="codigo" placeholder="Escribe el Año de Egreso">
		*</label>
				<br>
		<label>
			<br>
			Promedio:

			<input type="number" name="promedio" required="true"
			id="promedio" placeholder="Escribe el Promedio" step="any">
		*</label>
				<br>
		</div>
		<br>
	<center><input type="submit" name="Guardar" value="Actualizar Datos" style="background-color: #B5771E; color: white; border:1px  "></center>
	<br>
	<input type="reset" name="limpiar" value="Limpiar campos" style="background-color: #B5771E; color: white; border:1px;" onclick="Campos limpios" >
	<br>
	<br>
	</form>
   			</form>
   		</div>
	</div>
</body>
<br>
<br>
<br>
<footer>
	{%include 'footer.html'%}
</footer>
</html>





