<!DOCTYPE html>
<html>
<head tyle="background-color: #E1EEE9;">
		<title>Datos Personales de Estudiantes</title>
	<link rel="stylesheet" type="text/css" href="Estilodeproductos.css">
	<script src = "validacion9.js" ></script>
	{%load static%}
	{%include 'encabezado2.html'%}
</head>
<body style="background-color: #FFFFD1;">
	
<br>
<br>
	<div align="center">
		<div class="ajustarT" align="center" style="background-color: white; width: 600px">
			<form action="action_page.php" method="post" style="border-image: initial; border: 3px solid #DC971A">
				<div lass="imgcontainer" align="center">
		<form method="get" enctype="text/plain" autocomplete="false">
			<br>
			<input type="image" name="foto" src="{%static 'base_aspirantes/images/encabezado/imagen.png'%}" alt="foto" align="center">
			<br>
			<input type="file" name="archivo" align="center">
			<br>
			<br>

		<center><h1+><b><i> Datos Personales de Docente </i></b></h1></center>
		<br>
		<br>
		<label>
			<br>
			Cedula Profesional:

			<input type="text" name="tutor" required="true"
			id="tutor" placeholder="">
		*</label>
		<br>
		<label >
			<br>
				Nombre Completo:

			<input type="text" name="nombre" id="nombre" required="true" placeholder="Escribe el Nombre Completo" maxlength="30">
		*</label>
		<br>
		<label >
			<br>
				Cargo:

			<input type="text" name="cargo" id="cargo" required="true" placeholder="Escribe el Cargo" maxlength="30">
		*</label>
		<br>
		<label>
			<br>
			Edad:

			<input type="number" name="edad"
			id="edad" required="true" placeholder="Escribe la Edad" maxlength="2">
		*</label>
		<br>
		<label>
			<br>
			Genero:

			<input type="radio" name="hm" required="true" 
			id="h" placeholder="Escribe el genero" value="h"> Hombre
			<input type="radio" name="hm" required="true" 
			id="m" placeholder="Escribe el genero" value="m"> Mujer
		*</label>
		<br>
		<label>
			<br>
			Teléfono:

			<input type="tel" name="telefono" required="true"
			id="telefono" placeholder="Escribe el Teléfono">
		*</label>
				<br>
		<label>
			<br>
			Dirección:

			<input type="text" name="direccion" required="true"
			id="direccion" placeholder="Escribe la Dirección">
		*</label>
				<br>
		<label>
			<br>
			Código Postal:

			<input type="number" name="codigo" required="true"
			id="codigo" placeholder="Escribe el Código Postal">
		*</label>
				<br>
		<label>
			<br>
			Correo Electrónico:

			<input type="email" name="correo"required="true"
			id="correo" placeholder="Escribe el Correo Electrónico">
		*</label>
				<br>
		<label>
			<br>
			Grupo Sanguíneo:

			<input type="text" name="grupos" required="true"
			id="rgrupos" placeholder="Escribe el Grupo Sanguíneo">
		*</label>
				<br>
		</div>
		<br>

	<center><input type="submit" name="Guardar" value="Actualizar Datos" style="background-color: #B5771E; color: white; border:1px  "></center>
	<br>
	<input type="reset" name="limpiar" value="Limpiar campos" style="background-color: #B5771E; color: white; border:1px;" onclick="Campos limpios" >
	<br>
	<br>
	</form>

   			</form>
   		</div>
	</div>

</body>
<br>
<br>
<br>
<footer>
	{%include 'footer.html'%}
</footer>
</html>





