<!DOCTYPE html>
<html>
<head tyle="background-color: #E1EEE9;">
	<meta charset="utf-8">
		<title>Datos Personales de Estudiantes</title>
	{%load static%}
	{%include 'encabezado2.html'%}
	{%include 'lateral.html'%}
	
	<link rel="stylesheet" href="{% static 'base_aspirantes/css/boton.css'%}" type="text/css" media="all" />
</head>
<body style="background-color: #FFFFD1; font-family: Roboto;">
	
<br>
	<div align="center">
		<div class="ajustarT" align="center" style="background-color: #C6B396; width: 1205px">
			<form method="post" role="form" style="border-image: initial; border: 3px solid #DC971A"> {% csrf_token %}
				<div lass="imgcontainer" align="center">
		<form  enctype="text/plain" autocomplete="false">
		<br>
		<legend align="center"><h2><b><i> Datos Personales Docente </i></b></h2> </legend>
		<fieldset id="fieldset1" style="background-color: #E3C8A1; width: 1160px; height: 400px; border-image: initial; border: 0px solid white">

		<legend style=" width: 300px; height: 1px;" align="left">
			&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
			<input type="image" name="foto" src="{%static 'base_aspirantes/images/encabezado/imagen.png'%}" alt="foto" align="center">
			<br>
			<br>
			<input type="file" name="archivo" align="center">
		</legend>
		<br>

			<legend align="left">
			<label >
			<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
				Cedula Profesional:
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
				Nombre Completo:
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
				Edad:
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
				Genero:
			</label>
			<label >
				<br>
				<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
				<input type="text" name="Cedula" required="true" id="Cedula" placeholder="Escribe la Cedula Profesional" style="width:175px;height:15px"> *
				&emsp;&emsp;&emsp;
				<input type="text" name="Nombre" id="Nombre" required="true" placeholder="Escribe el Nombre Completo" maxlength="30" style="width:170px;height:15px"> *
				&emsp;&emsp;&emsp;
				<input type="number" name="Edad" id="Edad" required="true" placeholder="Edad" maxlength="2" style="width:70px;height:15px" >*
				&emsp;&emsp;&emsp;
				<input type="radio" name="Genero" required="true" id="Genero" placeholder="Escribe el genero" value="Hombre"> Hombre *
				&emsp;
				<input type="radio" name="Genero" required="true" id="Generos" placeholder="Escribe el genero" value="Mujer"> Mujer *
				
			</label>
			<br>
			<br>
			<br>
			<label>
				<br>
				<br>
				<br>
				&emsp;&emsp;&emsp;
				Teléfono:
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
				Dirección:
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
				Código Postal:
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
				Correo Electrónico:
			</label>
			<label >
				<br>
				<br>
				&emsp;&emsp;&emsp;
				<input type="tel" name="Telefono" required="true" id="Telefono" placeholder="Escribe el Teléfono"> *
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
				<input type="text" name="Direccion" required="true" id="Direccion" placeholder="Escribe la Dirección"> *
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
				<input type="number" name="Codigo_Postal" required="true" id="Codigo_Postal" placeholder="C.P." style="width:70px;height:15px"> *
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
				<input type="email" name="Correo_Electronico"required="true" id="Correo_Electronico" placeholder="Escribe el Correo Electrónico" style="width:180px;height:15px"> *
				
			</label>
			<label>
				<br>
				<br>
				<br>
				&emsp;&emsp;&emsp;
				Sanguíneo:
				</label>
			<label >
				<br>
				<br>
				&emsp;&emsp;&emsp;
				<input type="text" name="Grupo_Sanguineo" required="true" id="Grupo_Sanguineo" placeholder="Escribe el Grupo Sanguíneo" style="width:170px;height:15px"> *
				</label>
				<br>
		</div>
		<br>

		<input class="button cajast" type="submit" name="Guardar" value="Actualizar Datos" style="background-color: #B5771E; color: white; border:1px  ">
		&emsp;&emsp;
		<input class="button cajast"type="reset" name="limpiar" value="Limpiar campos" style="background-color: #B5771E; color: white; border:1px;" onclick="Campos limpios" >
	<br>
	<br>
	</form>

   			</form>
   		</div>
	</div>

</body>
<br>
<br>
<br>
<footer>
	{%include 'footer.html'%}
</footer>
</html>





