<!DOCTYPE html>
<html>
<head style="background-color: #E1EEE9;">
	<meta charset="UTF-8">
	<title>Alta de Estudiantes</title>
	
	{%include 'encabezado2.html'%}
	{%load static%}
	{%include 'lateral.html'%}
	{% load bootstrap4%}

	{% bootstrap_css %}
	<link rel="stylesheet" href="{% static 'base_aspirantes/css/boton.css'%}" type="text/css" media="all" />
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" type="text/css" />
</head>

<body style="background-color: #018989; font-family: Roboto;">
	<center><h2><b><i> Registrar Disciplinas </i></b></h2></center>
	<br>
	<div class="container" >
		<div align="center">
			<div class="signup-form-container" style="background-color: #018989; width: 1205px; height: 350px">
				{% block content %} 
					<form method="POST"> {% csrf_token %}
						<fieldset id="fieldset1" style="background-color: #018989; width: 1160px; height: 200px; border-image: initial; border: 0px solid white" >
							<br>
							<div class="row">
								<div class="col">
									<label> Clave Disciplina:</label>
									<input type="text" class="form-control" name="Id_Disciplina" id="Id_Disciplina" required="true" placeholder="Clave Disciplina" maxlength="30" value="{{Id_Disciplina}}" style="text-transform: capitalize;">
								</div>
								<div class="col">
									<label> Nombre Disciplina:</label>
									<input type="text" class="form-control" name="Nombre_Disciplina" id="Nombre_Disciplina" required="true" placeholder="Nombre" maxlength="30" value="{{Nombre_Disciplina}}" style="text-transform: capitalize;">
								</div>
							</div>
							</fieldset>
							<label >
								<input class="button " type="submit" name="guardar" value="Guardar Disciplina" style="background-color: #03a45e; color: white; border:1px" >
								&emsp;&emsp;
								<input class="button " type="reset" name="limpiar" value="Limpiar campos" style="background-color: #03a45e; color: white; border:1px;" onclick="Campos limpios" >
							</label>
							<div class="row">
								<div class="col">
									<br>
									<input class="button " type="button" style="background-color: #03a45e; color: white; border:1px; " onclick="location.href='http://127.0.0.1:8000/Clases'" value=" Dar de alta clase"> 
								</div>
								
							</div>
							<br>
					</form>
					{% endblock %}
			</div>
		</div>
	</div>
</body>
<br>
<br>
<footer>
	{%include 'footer.html'%}
</footer>
</html>
