<!DOCTYPE html>
<html>
<head style="background-color: #E1EEE9;">
	<meta charset="UTF-8">
	<title>Alta de Estudiantes</title>
	
	{%include 'encabezado2.html'%}
	{%load static%}
	{%include 'lateral.html'%}
	{% load bootstrap4%}

	{% bootstrap_css %}
	<link rel="stylesheet" href="{% static 'base_aspirantes/css/boton.css'%}" type="text/css" media="all" />
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" type="text/css" />
</head>

<body style="background-color: #018989; font-family: Roboto;">
	<center><h2><b><i> Alta Tutor </i></b></h2></center>
	<br>
	<div class="container" >
		<div align="center">
			<div class="signup-form-container" style="background-color: #018989; width: 1205px; height: 640px">
				{% block content %} 
					<form method="POST"> {% csrf_token %}
						<fieldset  style="background-color: #018989; width: 1160px; height: 250px; border-image: initial; border: 0px solid white" >
							<br>
							{{form}}

							</fieldset>
							
							<br>
							<label >
								<br>
								<input class="button " type="submit" name="guardar" value="Guardar Tutor" style="background-color: #03a45e; color: white; border:1px" >
							</label>
							<br>
							<br>
					</form>
					{% endblock %}
			</div>
		</div>
	</div>

</body>
<br>
<br>
<footer>
	{%include 'footer.html'%}
</footer>
</html>
