<!DOCTYPE html>
<html>
<head style="background-color: #E1EEE9;">
	<meta charset="UTF-8">
	<title>Alta de Estudiantes</title>
	
	{%include 'encabezado2.html'%}
	{%load static%}
	{%include 'lateral.html'%}
	{% load bootstrap4%}

	{% bootstrap_css %}
	<link rel="stylesheet" href="{% static 'base_aspirantes/css/boton.css'%}" type="text/css" media="all" />
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" type="text/css" />
</head>

<body style="background-color: #018989; font-family: Roboto;">
	<center><h2><b><i> Editar Administrador </i></b></h2></center>
	<br>
	<div class="container" >
		<div align="center">
			<div class="signup-form-container" style="background-color: #018989; width: 1205px; height: 240px">
				{% block content %} 
					<form method="POST"> {% csrf_token %}
						<fieldset id="fieldset1" style="background-color: #018989; width: 1160px; height: 150px; border-image: initial; border: 0px solid white" >
							{{form}}
							</fieldset>
							<br>
							<label >
								<br>								
								<input class="button " type="button" style="background-color: #03a45e; color: white; border:1px; " onclick="location.href='http://127.0.0.1:8000/ListaDetalleAdministrador'" value=" Actualizar"> 
							</label>
							<br>
					</form>
					{% endblock %}
			</div>
		</div>
	</div>

</body>
<br>
<br>
<footer>
	{%include 'footer.html'%}
</footer>
</html>
