<!DOCTYPE html>
<html>
<head>
	<title > SCIA </title>
	{%load static%}
	<link rel="stylesheet" href="{% static 'base_aspirantes/main.css'%}" type="text/css" media="all"/>
	<link rel="stylesheet" href="{% static 'base_aspirantes/css/encabezado.css'%}" type="text/css" media="all" />

</head>
{% block buscador %}
		<div class="bottom section-padding" align="center">
			<nav class="navbar navbar-default" align="center" style="background-color: #DC971A; ">
				<img src="{%static 'base_aspirantes/images/encabezado/scia.png'%}" alt="scia"  align="left" width="50px" height="60px" >
					<font face="Gill Sans"  align="right" style="color: #FFFFFF;" >
						<h3 >&emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;Bachillerato Oficial Antonio Caso </h3> 
							</font>
							&emsp;&emsp;
<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search form-control-sm " method="POST">
						{% csrf_token %}
						<div class="input-group-append" align="center">
							<input align="center" type="text" class="form-control bg-light border-0 small form-control-sm" placeholder="Buscar..." name="buscar" value="{{ request.POST.buscar }}">
								<button class="btn btn-primary" style="background-color: #DC971A; border-color: #DC971A;" type="submit" >
									<div class="input-group-append" align="center">
									<i class="fas fa-search fa-sm"></i>
									<input type=image src="{%static 'base_aspirantes/images/encabezado/busqueda.png'%}" width="17" height="16">
								</div>
								</button>
								</div>
						</form>
				<img src="{%static 'base_aspirantes/images/encabezado/logobachillerato.png'%}" alt="logobachillerato"  align="right" width="50px" height="60px">
			</nav>
		</div>
	{% endblock buscador %}
</html>