<!DOCTYPE html>
<html>
<head>
	<title > SCIA </title>
	{%load static%}
	<link rel="stylesheet" href="{% static 'base_aspirantes/main.css'%}" type="text/css" media="all"/>
	<link rel="stylesheet" href="{% static 'base_aspirantes/css/encabezado.css'%}" type="text/css" media="all" />

</head>
		<div class="bottom section-padding" align="center" >
			<nav class="navbar navbar-default" align="center" style="background-color: #DC971A; ">
				<img src="{%static 'base_aspirantes/images/encabezado/scia.png'%}" alt="scia"  align="left" width="50px" height="60px" >
					<font face="Gill Sans"  align="left" style="color: #FFFFFF;" >
						<h3 >&emsp; Bachillerato Oficial Antonio Caso </h3> 
						&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
							<form class="form-inline my-2 my-lg-0" action="action_page.php" method="post" style="border-image: initial; border: 10px solid #DC971A"><div class="col-lg-2">
								<div class="form-check form-check-inline" align="right">
									<input type="text" class="form-control form-control-sm " placeholder="Buscar" >
									<input type=image src="{%static 'base_aspirantes/images/encabezado/busqueda.png'%}" width="20" height="25">
								</div>
							</div>
					</font>
					<img src="{%static 'base_aspirantes/images/encabezado/logobachillerato.png'%}" alt="logobachillerato"  align="right" width="50px" height="60px" >
				</form>
			</nav>
		</div>
</html>


