<!DOCTYPE html>
<html>
<head>
  <title > SCIA </title>
  {%load static%}
  <link rel="stylesheet" href="{% static 'base_aspirantes/main.css'%}" type="text/css" media="all"/>
  <link rel="stylesheet" href="{% static 'base_aspirantes/css/encabezado.css'%}" type="text/css" media="all" />

</head>
    <div class="bottom section-padding" align="center" >
  <nav class="navbar navbar-default" align="center" style="background-color: #DC971A; ">
      <form action="action_page.php" method="post" style="border-image: initial; border: 10px solid #DC971A">
        <img src="{%static 'base_aspirantes/images/encabezado/scia.png'%}" alt="scia"  align="left" width="57px" height="67px" >
        <img src="{%static 'base_aspirantes/images/encabezado/logobachillerato.png'%}" alt="logobachillerato"  align="right" width="57px" height="67px" >
        <font face="Gill Sans"  align="left" >
          <p><span style="color: #FFFFFF;"><a class="transition" style="color: #FFFFFF; " ><h1> &emsp; Bachillerato Oficial Antonio Caso 
          &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
          <img src="{%static 'base_aspirantes/images/encabezado/Notificacion.png'%}" alt="logobachillerato"  align="center" width="25px" height="25px" >

         </h1></a></span></p>
        </font>
  </form>
</nav>
</div>
</html>


