<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Examen</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'base_aspirantes/css/preguntas.css' %}">
</head>
<body style="padding: 20px">
  <header>
      {% include 'encabezado.html'%}
  </header>
<div class="tabContainer">
    <div class="buttonContainer">
     <button id="ing4" onclick="showPanel(0,'#7dcea0')" > <p>Tiempo restante: 
     <label id = "tiempo4">20:00</label></p></button>
    
    </div>

        <form name="formulario" method="POST" enctype="multipart/form-data">
            <!-- Razonamiento verbal -->
            <div class="tabPanel"> 
                 <h3> <b> Preguntas de Razonamiento verbal </b></h3> 
                 <br>
             {% for carrer_ingrv in carrer_ingrv %}  
             {% if carrer_ingrv.grupo_clave.clave_grupo == 'RV' %}
                  <p style="background-color: #FF4CBE"> <b> {{carrer_ingrv.pregunta}} </b></p> 
              <br>
               <form action="" method="post" target="_blank">
           &emsp; &#160 &#160 <input type="radio" name="gender" value="a"> .- &#160 {{ carrer_ingrv.respuesta_examen_a}} <br> 
           &emsp; &#160 &#160 <input type="radio" name="gender" value="b"> .- &#160 {{ carrer_ingrv.respuesta_examen_b}} <br> 
           &emsp; &#160 &#160 <input type="radio" name="gender" value="c"> .- &#160 {{ carrer_ingrv.respuesta_examen_c}} <br> 
           &emsp; &#160 &#160 <input type="radio" name="gender" value="d"> .- &#160 {{ carrer_ingrv.respuesta_examen_d}} <br> 
           &emsp; &#160 &#160 <input type="radio" name="gender" value="e"> .- &#160 {{ carrer_ingrv.respuesta_examen_e}} <br> 
               </form>
              <br>
              <br>
            {% endif %}
            {% endfor %}
            </div>                         
            </form>



</body>

      <br>
       <center><button onclick="location.href='http://127.0.0.1:8000/agradecimiento/'" >Siguiente</button></center>
       <br>


       <script src="{% static 'base_SCIA/js/tiempo4.js' %}"> </script>
        <script src="{% static 'base_aspirantes/js/inge4.js' %}"> </script>
        <!--<script src="{% static 'base_aspirantes/js/b.js' %}"> </script>-->
        <script src="{% static 'base_aspirantes/js/preguntas.js' %}"></script>
     <footer>
       {% include 'footer.html'%}  
     </footer>

</html>