<!DOCTYPE html>
<html>
<head>
  <title > SCIA </title>
  {% load static %}
    
      <link rel="stylesheet" href="{% static 'base_aspirantes/main.css'%}" type="text/css" media="all"/>
    
    
</head>
    <div class="bottom section-padding" align="center" >
      <div>
          <div class="col-md-12 text-center" align="center">

            
                <p><span style="color: #FFFFFF;"> © 2020 &emsp; </span> <a class="transition" style="color: #FFFFFF;"> Calle 12 Pte, Santo Cristo, San Francisco Mixtla, Puebla. C.P. 75260. Tel. (223)3371136 <br> Correo Institucional : antonio_caso@hotmail.com</a></p> 
           <br>
           <br>
        </div>
      </div>
    </div>

</hmtl>