<!DOCTYPE html>
<html>
<head>
	<title>SCIA</title>
	
		{% load static %}
	<meta charset="utf-8">
	
		<link rel="stylesheet" href="{% static 'base_aspirantes/css/lateral.css' %}" type="text/css" media="all" />

</head>
<body > 
<nav class="topnav" style="background-color: #018989;">
  <a href="#" onclick="openNav()">
    <svg width="30" height="30" id="icoOpen">
        <path d="M0,5 30,5" stroke="#000" stroke-width="5"/>
        <path d="M0,14 30,14" stroke="#000" stroke-width="5"/>
        <path d="M0,23 30,23" stroke="#000" stroke-width="5"/>
    </svg>
  </a>
</nav>
 
<div id="main">
<!-- Add all your websites page content here  -->


<div id="sideNavigation" class="sidenav">
&emsp; &emsp;  &emsp;  &emsp; <img src="{%static 'base_aspirantes/images/encabezado/imagen.png'%}" alt="logo"  align="center" width="100px" height="110px" >

<br>
<ul class="acor">
  <li ><a href="#"><img src="{%static 'base_aspirantes/images/encabezado/activo.png'%}" alt="activo" align="left" width="8px" height="9px">&emsp;&emsp;Administrador&emsp;<img src="{%static 'base_aspirantes/images/encabezado/flecha.png'%}" alt="activo" align="right" width="18px" height="18px">  </a>

    <ul>
      <li><a href="#">Cambiar contraseña</a></li>
      <li><a href="#">Cerrar sesión</a></li>
    </ul>
  </li>
</ul>

<br>

  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>


<ul class="acorh">
  
   <li><a href="#">Aspirantes</a>
    <ul>
      <li><a href="http://127.0.0.1:8000/AltaAspirante" >Alta Aspirantes</a></li>
    <li><a href="http://127.0.0.1:8000/ListaDetalleAspirante">Lista Aspirantes</a></li>
    </ul>
  </li>

  <li><a href="#">Disciplinas</a>
    <ul>
      <li><a href="http://127.0.0.1:8000/Disciplinas" >Registrar Disciplinas</a></li>
      <li><a href="http://127.0.0.1:8000/DisciplinasCursando" >Disciplinas cursando</a></li>
    <li><a href="http://127.0.0.1:8000/DisciplinasCursadas">Disciplinas cursadas</a></li>
    </ul>
  </li>

  <li><a href="#">Clases</a>
    <ul>
      <li><a href="http://127.0.0.1:8000/Clases" >Dar de alta clase</a></li>
    </ul>
  </li>

  <li><a href="#">Estudiantes</a>
    <ul>
      <li><a href="http://127.0.0.1:8000/AltaEstudiante" >Dar de Alta Estudiante</a></li>
    <li><a href="http://127.0.0.1:8000/DatosPersonalesEstudiante">Lista Estudiantes</a></li>
    </ul>
  </li>

  <li><a href="#">Docentes</a>
    <ul>
      <li><a href="http://127.0.0.1:8000/AltaDocente">Dar de Alta Docentes</a></li>
    <li><a href="http://127.0.0.1:8000/DatosPersonalesDocente">Lista Docente</a></li>
    </ul>
  </li>

  <li><a href="#">Administrador</a>
    <ul>
      <li><a href="http://127.0.0.1:8000/AltaAdministrador">Dar de Alta Administrador</a></li>
    <li><a href="http://127.0.0.1:8000/DatosPersonalesDocente">ListaAdministrador</a></li>
    </ul>
  </li>

  <li><a href="http://127.0.0.1:8000/PublicarAvisos">Publicar Avisos</a></li>
  <li><a href="#">Gráficos</a></li>
  <li><a href="#">Configuraciones</a></li>
</ul>

<br>
<br>
<br>
</div>
</div>


<script>
function openNav() {
    document.getElementById("sideNavigation").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
}
 
function closeNav() {
    document.getElementById("sideNavigation").style.width = "0";
    document.getElementById("main").style.marginLeft = "0";
}
</script>
</body>
</html>