<!DOCTYPE html>
<html>
<head tyle="background-color: #E1EEE9;">
		<title>Detalles de Estudiantes</title>
	<link rel="stylesheet" type="text/css" href="Estilodeproductos.css">
	<script src = "validacion9.js" ></script>
	{%load static%}
	{%include 'encabezado2.html'%}
</head>
<body style="background-color: #FFFFD1;">
	
<br>
<br>
	<div align="center">
		<div class="ajustarT" align="center" style="background-color: white; width: 600px">
			<form action="action_page.php" method="post" style="border-image: initial; border: 3px solid #DC971A">
				<div lass="imgcontainer" align="center">
		<form method="get" enctype="text/plain" autocomplete="false">
			<br>

			<br>
			<br>

		<center><h1+><b><i> Lista de Estudiantes </i></b></h1></center>
		<br>
		<label >
			<br>
				No.

			<input type="number" name="numero" id="numero"
			required="true" autofocus="true" >
		*</label>
		<br>
		<label >
			<br>
				Matricula:

			<input type="number" name="matricula" id="matricula"
			required="true" pattern="[0-9] {6}" autofocus="true" maxlength="6">
		*</label>
		<br>
		<label >
			<br>
				Nombre:

			<input type="t" name="nombre" id="nombre" required="true" placeholder="Escribe el Nombre" maxlength="30">
		*</label>
		<br>
		<label>
			<br>
			Apellido Paterno:

			<input type="text" name="ap"
			id="ap" required="true" placeholder="Escribe el primer Apellido" maxlength="20">
		*</label>
		<br>
		<label>
			<br>
			Apellido Materno:

			<input type="text" name="am"
			id="am" required="true" placeholder="Escribe el segundo Apellido" maxlength="20">
		*</label>
		<br>
		<label>
			<br>
			Edad:

			<input type="number" name="edad"
			id="edad" required="true" placeholder="Escribe la Edad" maxlength="2">
		*</label>
		<br>
		<label>
			<br>
			Genero:

			<input type="radio" name="hm" required="true" 
			id="h" placeholder="Escribe el genero" value="h"> Hombre
			<input type="radio" name="hm" required="true" 
			id="m" placeholder="Escribe el genero" value="m"> Mujer
		*</label>
		<br>
		<label>
			<br>
			Teléfono:

			<input type="tel" name="telefono" required="true"
			id="telefono" placeholder="Escribe el Teléfono">
		*</label>
				<br>
		<label>
			<br>
			Dirección.

			<input type="text" name="direccion" required="true"
			id="direccion" placeholder="Escribe la Dirección">
		*</label>
				<br>
		<label>
			<br>
			Código Postal:

			<input type="number" name="codigo" required="true"
			id="codigo" placeholder="Escribe el Código Postal">
		*</label>
				<br>
		<label>
			<br>
			CURP:

			<input type="text" name="curp" required="true"
			id="curp" placeholder="Escribe el CURP">
		*</label>
				<br>
		<label>
			<br>
			Fecha Nacimiento:

			<input type="date" name="fecha" required="true"
			id="fecha" placeholder="Escribe la Fecha de Nacimiento">
		*</label>
				<br>
		<label>
			<br>
			Lugar Nacimiento:

			<input type="text" name="lugar"  required="true"
			id="lugar" placeholder="Escribe el Lugar de Nacimiento">
		*</label>
				<br>
		<label>
			<br>
			Correo Electrónico:

			<input type="email" name="correo"required="true"
			id="correo" placeholder="Escribe el Correo Electrónico">
		*</label>
				<br>
		<label>
			<br>
			Grupo Sanguíneo:

			<input type="text" name="grupos" required="true"
			id="rgrupos" placeholder="Escribe el Grupo Sanguíneo">
		*</label>
				<br>
		<label>
			<br>
			Padre o Tutor:

			<input type="text" name="tutor" required="true"
			id="tutor" placeholder="Escribe el Nombre">
		*</label>
				<br>
		<label>
			<br>
			Teléfono del Tutor:

			<input type="tel" name="telefonotutor" required="true"
			id="telefonotutor" placeholder="Escribe el Teléfono ">
		*</label>
				<br>
		<label>
			<br>
			Nivel Básico:

			<input type="text" name="nivel" required="true"
			id="nivel" placeholder="Escribe el Nivel Básico">
		*</label>
				<br>
		<label>
			<br>
			Año Egreso:

			<input type="number" name="añoe" required="true"
			id="codigo" placeholder="Escribe el Año de Egreso">
		*</label>
				<br>
		<label>
			<br>
			Promedio:

			<input type="number" name="promedio" required="true"
			id="codigo" placeholder="Escribe el Promedio" step="any">
		*</label>
		</div>
		<br>
	<br>
	<br>
	</form>
   			</form>
   		</div>
	</div>
</body>
<br>
<br>
<br>
<footer>
	{%include 'footer.html'%}
</footer>
</html>