<!DOCTYPE html>
<html>
<head>
	<title>Lista de Preguntas</title>
</head>
<body>
    {% include 'encabezado.html'%}
	<h1> Lista de Preguntas del ITST </h1> 
	<br>
	<br>
 <!--<table width="100%"  border="1" cellpadding="0" cellspacing="0" > 
   <!--    <td> <h3> <b> Num. Pregunta </b> </h3></td> <td> <h3> <b> Area </b></h3></td> <td> <h3> <b> Pregunta </b></h3></td>
     <!--  <td> <h3> <b> Respuesta </b></h3></td>-->
    {% for carrer in carrer %}
   <!--  <tr>
        <!--  <td> 
        <center>  {{carrer.id_pregunta}} </center> 
      
        <!-- </td>   
    
     <!--  <td> <center> <p>{{carrer.id_area}}</p> </center> </td>  -->
    
     <!--   <td> --><p> <b> {{carrer.id_pregunta}} .- {{carrer.pregunta}} </b></p> <!-- </td> -->
    <br>
     <!--   <td> -->
            
 <form action="" method="post" target="_blank">

   &emsp; &#160 &#160 <input type="radio" name="gender" value="a"> .- &#160 {{ carrer.respuesta_examen_a}} <br> 
   &emsp; &#160 &#160 <input type="radio" name="gender" value="b"> .- &#160 {{ carrer.respuesta_examen_b}} <br> 
   &emsp; &#160 &#160 <input type="radio" name="gender" value="c"> .- &#160 {{ carrer.respuesta_examen_c}} <br> 
   &emsp; &#160 &#160 <input type="radio" name="gender" value="d"> .- &#160 {{ carrer.respuesta_examen_d}} <br> 
   &emsp; &#160 &#160 <input type="radio" name="gender" value="e"> .- &#160 {{ carrer.respuesta_examen_e}} <br> 
   
 </form>

<br>
<br>
    {% endfor %}
   <center> <input type="submit" value="Enviar"> </center>
 <!--</table>-->
<br>
<br>
<br>
{% include 'footer.html'%}
</body>
</html>