<!DOCTYPE html>
<html>
<head style="background-color: #FFFFD1;">
		<meta charset="utf-8">
		<title>lista de Aspirantes</title>
	
	{%load static%}
	{% load bootstrap4%}
	{% bootstrap_css %}
	{%include 'encabezadoAs.html'%}
	{%include 'lateral.html'%}
	
	{% block buscador %}

	<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search form-control-sm " method="POST"> {% csrf_token %}
		<div class="input-group" align="right">
			<input type="text" class="form-control bg-light border-0 small form-control-sm" placeholder="Buscar..." name="buscaras" value="{{ request.POST.buscaras }}">
			<div class="input-group-append" align="right">
				<button class="btn btn-primary" type="submit" >
					<i class="fas fa-search fa-sm"></i>
					<input type=image src="{% static 'base_aspirantes/images/encabezado/busqueda.png'%}" width="15" height="15">
				</button>
			</div>
		</div>
	</form>
	{% endblock buscador %}

<link rel="stylesheet" href="{% static 'base_aspirantes/css/boton.css'%}" type="text/css" media="all" />
	<link rel="stylesheet" href="{% static 'base_aspirantes/css/tabla.css'%}" type="text/css" media="all" />

</head>
<body style="background-color: #FFFFD1; font-family: Roboto;">
	<center><h2><b><i> Lista Aspirantes </i></b></h2></center>
	<br>
	<div class="container-fluid">
		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary" align="center">Tabla de Datos </h6>
			</div>
				{% if aspirantes %}
			<div class="table-responsive">
				<table class="table table-striped table-hover table-sm " >
					<tr align="center">
						<td> <b> Id personales</b></td>
						<td> <b> Nombre</b></td>
						<td> <b> Apellido Paterno</b></td>
						<td> <b> Apellido Materno</b> </td>
						<td> <b> Cargo</b> </td>
						<td> <b> Edad</b> </td>
						<td> <b> Genero</b> </td>
						<td> <b> Teléfono</b> </td>
						<td> <b> Dirección</b></td>
						<td> <b> Código Postal</b> </h3></td>
						<td> <b> CURP</b> </td>
						<td> <b> Fecha Nacimiento</b> </h3></td>
						<td> <b> Lugar Nacimiento</b> </td>
						<td> <b> Correo Electrónico</b></td>
						<td> <b> Grupo Sanguíneo</b></td>
						<td> <b> </b></td>
					</tr>

					{% for a in aspirantes %}
					<tr>
						<td> {{a.Id_Personales}} </td>
						<td> {{a.Nombre}} </td>
						<td>{{a.Apellido_Paterno}} </td>
						<td>{{a.Apellido_Materno}} </td> 
						<td>{{a.Cargo}}</td> 
						<td>{{a.Edad}} </td> 
						<td>{{a.Genero}} </td>  
						<td>{{a.Telefono}} </td> 
						<td>{{a.Direccion}} </td>
						<td>{{a.Codigo_Postal}} </td>
						<td>{{a.CURP}} </td>
						<td>{{a.Fecha_Nacimiento}} </td>
						<td>{{a.Lugar_Nacimiento}} </td>
						<td>{{a.Correo_Electronico}} </td>
						<td>{{a.Grupo_Sanguineo}} </td>
						<td> 
							<a class = "btn btn-primary" href=" {% url 'EditarAspirante' a.Id_Personales %}">Editar</a> 
						</td>
					{% endfor %}
				</table>
				</div>
				{% else %}
				<h5>No hay Registros</h5>
				{% endif%}
		</div>
	</div>
</body>
<br>
<br>
<br>
<footer>
	{%include 'footer.html'%}
</footer>
</html>