<!DOCTYPE html>
<html>
<head tyle="background-color: #E1EEE9;">
		<meta charset="utf-8">
		<title>lista de Estudiantes</title>
	
	{%load static%}
	{%include 'encabezado2.html'%}
	{%include 'lateral.html'%}

<link rel="stylesheet" href="{% static 'base_aspirantes/css/boton.css'%}" type="text/css" media="all" />

</head>
<body style="background-color: #018989; font-family: Roboto;">
	<center><h2><b><i> Lista Aspirantes </i></b></h2></center>
	<br>
	<div class="container" >
		<div align="center">
			<div class="signup-form-container" style="background-color: #018989; width: 1205px; height: 640px">
				{% block content %} 
					<form method="POST"> {% csrf_token %}
						<fieldset id="fieldset1" style="background-color: #018989; width: 1160px; height: 350px; border-image: initial; border: 0px solid white" >
							<br>
							<table width="100%"  border="1" cellpadding="0" cellspacing="0"> 
			<td> <b> Id personales</b></td>
			<td> <b> Nombre</b></td>
			<td> <b> Apellido Paterno</b></td>
			<td> <b> Apellido Materno</b> </td>
			<td>  <b> Cargo</b> </td>
			<td>  <b> Edad</b> </td>
			<td> <b> Genero</b> </td>
			<td> <b> Teléfono</b> </td>
			<td> <b> Dirección</b></td>
			<td> <b> Código Postal</b> </h3></td>
			<td> <b> CURP</b> </td>
			<td> <b> Fecha Nacimiento</b> </h3></td>
			<td> <b> Lugar Nacimiento</b> </td>
			<td> <b> Correo Electrónico</b></td>
			<td> <b> Grupo Sanguíneo</b></td>

			{% for lista in lista %}
			<tr> 
					<td> {{lista.Id_Personales}} </td>
					<td>  <p>{{lista.Nombre}} </p></td>
					<td><p>{{lista.Apellido_Paterno}} </p></td>
					<td><p>{{lista.Apellido_Materno}} </p></td> 
					<td><p>{{lista.Cargo}} </p></td> 
					<td><p>{{lista.Edad}} </p></td> 
					<td><p>{{lista.Genero}} </p></td>  
					<td><p>{{lista.Telefono}} </p></td> 
					<td><p>{{lista.Direccion}} </p></td>
					<td><p>{{lista.Codigo_Postal}} </p></td>
					<td><p>{{lista.CURP}} </p></td>
					<td><p>{{lista.Fecha_Nacimiento}} </p></td>
					<td><p>{{lista.Lugar_Nacimiento}} </p></td>
					<td><p>{{lista.Correo_Electronico}}</p></td>
					<td><p>{{lista.Grupo_Sanguineo}} </p></td>
					
		
			{% endfor %}
		</table>

							</fieldset>
							<br>
							<br>
							<br>
							<br>
							<br>
							<br>
							<label >
								<br>
								<input class="button " type="button" style="background-color: #03a45e; color: white; border:1px; " onclick="location.href='http://127.0.0.1:8000/AltaAdministrador'" value=" Actualizar"> 
								&emsp;&emsp;
								<input class="button " type="reset" name="limpiar" value="Limpiar campos" style="background-color: #03a45e; color: white; border:1px;" onclick="Campos limpios" >
							</label>
							<br>
							<br>
					</form>
					{% endblock %}
			</div>
		</div>
	</div>

</body>
<br>
<br>
<br>
<footer>
	{%include 'footer.html'%}
</footer>
</html>
