<!DOCTYPE html>
<html>
<head tyle="background-color: #E1EEE9;">
		<meta charset="utf-8">
		<title>Detalles de Estudiantes</title>
	
	{%load static%}
	{%include 'encabezado2.html'%}
	{%include 'lateral.html'%}

<link rel="stylesheet" href="{% static 'base_aspirantes/css/boton.css'%}" type="text/css" media="all" />

</head>
<body style="background-color: #FFFFD1; font-family: Roboto;">
	
<br>
<br>
	<div align="center">
		<div class="ajustarT" align="center" style="background-color: #C6B396; width: 1205px">
			<form method="post" role="form" style="border-image: initial; border: 3px solid #DC971A"> {% csrf_token %}
				<div lass="imgcontainer" align="center">
		<form  enctype="text/plain" autocomplete="false">
		<br>
		<legend align="center"><h2><b><i>Lista de Estudiante </i></b></h2> </legend>
		<fieldset id="fieldset1" style="background-color: #E3C8A1; width: 1160px; height:200px; border-image: initial; border: 0px solid white">

		<legend style=" width: 300px; height: 1px;" align="left">
			&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
			
		</legend>
		<br>
		<br>
		<br>
			<legend align="left">
				<table width="100%"  border="1" cellpadding="0" cellspacing="0"> 
			<td> <b>No.</b> </td>
			<td> <b> Matricula</b></td>
			<td> <b> Nombre</b></td>
			<td> <b> Apellido Paterno</b></td>
			<td> <b> Apellido Materno</b> </td>
			<td>  <b> Edad</b> </td>
			<td> <b> Genero</b> </td>
			<td> <b> Teléfono</b> </td>
			<td> <b> Dirección</b></td>
			<td> <b> Código Postal</b> </h3></td>
			<td> <b> CURP</b> </td>
			<td> <b> Fecha Nacimiento</b> </h3></td>
			<td> <b> Lugar Nacimiento</b> </td>
			<td> <b> Correo Electrónico</b></td>
			<td> <b> Grupo Sanguíneo</b></td>
			<td><b> Padre o Tutor</b> </h3></td>
			<td> <b>  del Tutor</b> </td>
			<td> <b>  Básico</b> </td>
			<td> <b>  Egreso</b> </td>

			{% for carre in carre %}
			<tr> 
						<td>  <center> {{carre.no_ficha}} </center></td>
	
					<td>  <p>{{carre.nombre_alumno}} {{carre.ape_paterno}} {{carre.ape_materno}} </p></td>
		
						<td> <center><input type="submit" value="Actualizar"> </center></td>
			</tr> 
			{% endfor %}
		</table>

			</legend>
		</fieldset>
		</div>
		<br>

		<a href="http://127.0.0.1:8000/DatosPersonalesEstudiante" style="background-color: #B5771E; color: white; border:1px  " class="button cajast" >Actualizar Datos Personales</a>
		&emsp;&emsp;
		<a href="http://127.0.0.1:8000/DatosAcademicosEstudiante" style="background-color: #B5771E; color: white; border:1px  " class="button cajast" >Actualizar Datos Academicos</a>
		&emsp;&emsp;
		<input class="button cajast"type="reset" name="limpiar" value="Limpiar campos" style="background-color: #B5771E; color: white; border:1px;" onclick="Campos limpios" >
	<br>
	<br>
	</form>
   			</form>
   		</div>
	</div>
		
</body>
<br>
<br>
<br>
<footer>
	{%include 'footer.html'%}
</footer>
</html>