<!DOCTYPE html>
<html>
<head tyle="background-color: #E1EEE9;">
		<meta charset="utf-8">
		<title>Lista de docentes</title>
		
	{%load static%}
	{% load bootstrap4%}
	{% bootstrap_css %}
	{%include 'encabezado2.html'%}
	{%include 'lateral.html'%}
	
	<link rel="stylesheet" href="{% static 'base_aspirantes/css/boton.css'%}" type="text/css" media="all" />
</head>
<body style="background-color: #018989; font-family: Roboto;">
	<center><h2><b><i> Lista Administradores </i></b></h2></center>
	<br>
	<div class="container" >
		<div align="center">
			<div class="signup-form-container" style="background-color: #018989; width: 1205px; height: 640px">
				{% block content %} 
					<form method="POST"> {% csrf_token %}
						<fieldset id="fieldset1" style="background-color: #018989; width: 1160px; height: 350px; border-image: initial; border: 0px solid white" >
							<br>
							<table class="table table-bordered" width="100%"  border="1" cellpadding="0" cellspacing="0">
			<td> <b> Id Administrador</b></td>
			<td> <b> Id Aspirante</b></td>

			{% for listaa in listaa %}
			<tr> 
					<td> {{listaa.Id_Administrador}} </td>
					<td> {{listaa.Id_Personales}} </td>
					<td> 
					<a class = "btn btn-primary" href=" {% url 'AdministradorEditar' listaa.Id_Administrador %}">Editar</a> 
				</td>
			{% endfor %}
		</table>

							</fieldset>
							<br>
							<br>
							<br>
							<br>
							<br>
							<br>
							<br>
					</form>
					{% endblock %}
			</div>
		</div>
	</div>

</body>
<br>
<br>
<br>
<footer>
	{%include 'footer.html'%}
</footer>
</html>

<br>
<br>
<br>
<footer>
	{%include 'footer.html'%}
</footer>
</html>