<!DOCTYPE html>
<html>
<head tyle="background-color: #E1EEE9;">
		<title>Publicar Avisos</title>
	<link rel="stylesheet" type="text/css" href="Estilodeproductos.css">
	<script src = "validacion9.js" ></script>
	{%load static%}
	{%include 'encabezado2.html'%}
</head>
<body style="background-color: #FFFFD1;">

<br>
<br>
	<div align="center">
			<br>
			<br>

		<center><h1><b>AVISOS RELEVANTES</b></h1></center>
		<br>
		<br> 
				<label style="color: red"><b>¡¡¡ Atención Comunidad Estudiantil del Bachillerato Antonio Caso !!!</b></label>
		<br>
			<br>
		<br> 
	
<strong contenteditable="true">
	
REDACTA EL AVISO PARA LOS ESTUDIANTES 

</strong>
			<br>
		<br> 
				<br>
		</div>
		<br>
	<center><input type="submit" name="Guardar" value="Publicar Aviso" style="background-color: white; color: ; border: #EBEDEF 5x ">&emsp;
<input type="submit" name="Guardar" value="Actualizar Aviso" style="background-color: white; color: ; border: #EBEDEF 5x  ">&emsp;
<input type="submit" name="Guardar" value="Eliminar Aviso" style="background-color: white; color: ; border: #EBEDEF 5x   "></center>
	<br>
	
	<br>
	<br>
	</form>
   			</form>
   		</div>
	</div>
</body>
<br>
<br>
<br>
<footer>
	{%include 'footer.html'%}
</footer>
</html>